.header{
  .top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    .search{
      .search-icon-btn{
        cursor: pointer;
        background-color: transparent;
        border: 1px solid #ced4da;
        &:hover{
          border: 1px solid #ced4da;
        }
      }

      &>.input-group{
        min-width: 30rem;
      }
    }
  }

  .brand{
    font-family: $font-family-brand;
  }

  .nav-icons{
    .nav-icon{
      cursor: pointer;
      width: 1.7rem;
      margin-right: 1rem;
      &:nth-last-child(1){
        margin-right: 0;
      }
    }
  }

  .nav{
    .nav-list{
      width: 100%;
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;
      
      .nav-item{
        flex-grow: 1;
        text-align: center;
      }
      .nav-link{
        color: #000;
        &:hover{
          background-color: #0000001f;
        }
      }
    }
  }
}

@media screen and (max-width: 992px){
  .header{
    .top-header{
      .search{
        &>.input-group{
          min-width: 15rem;
        }
      }
    }
  }
}

// @media screen and (max-width: 768px){
//   .header{
//     .nav{
//       display: none;
//     }
//   }
// }