@import './header';
@import './footer';
@import './sidebar';
@import './welcome';
@import './product-detail';
@import './products-list';

section{
  .section-title{
    margin-top: 3rem;
    text-align: center;
  }
  .section-subtitle{
    text-align: center;
  }
}