@keyframes wine-splash {
  from{
    transform: rotate(-25deg);
    right: 11rem;
  }
  to{
    transform: rotate(-1deg);
    right: 0;
  }
}

@keyframes wineglass {
  from{
    transform: rotate(-43deg);
    right: 10rem;
  }
  to{
    transform: rotate(-10deg);
    right: 0;
  }
}

.welcome{
  display: flex;
  align-items: center;

  position: relative;
  // max-height: 40rem;
  // height: 100vh;
  height: calc(100vh - 3.6rem);
  .welcome__content{
    width: 70ch;

    .welcome__title{
      font-size: 6rem;
      color: $primary;
      margin: 0 0 -0.2em 0;
      font-weight: 100;
    }
    .welcome__subtitle{
      color: $primary;
      margin: 0 0 2rem 0;
      font-size: 2rem;
      font-weight: 100;
    }
    .welcome__description{
      margin-bottom: 2rem;
    }
  }
  .welcome__images{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -1;

    // max-height: 40rem;
    // height: 100vh;
    height: calc(100vh - 3.6rem);
    .wine-splash{
      position: absolute;
      // width: 52rem;
      width: 60rem;
      bottom: -17rem;
      transform: rotate(-1deg);
      right: 0;
      z-index: -1;
      animation: wine-splash 2s;
    }
    .wineglass{
      position: absolute;
      bottom: 0;
      // width: 25rem;
      width: 31rem;
      z-index: -2;
      transform: rotate(-10deg);
      right: 0;
      animation: wineglass 2.5s;
    }

    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  @media screen and (max-width: 1000px) {  
    .welcome__content{
      width: 50ch;
    }
    .welcome__images{
      .wineglass{
        width: 23rem;
      }
      .wine-splash{
        width: 50rem;
      }
    }
  }

  @media screen  and (max-width: 770px){
    .welcome__content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .welcome__images{
      display: none;
    }
  }
}